In [117]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import requests

In [3]:
# Get the Tesla stock data
tesla_data = yf.Ticker("TSLA").history(period="1y", interval="1d")

In [4]:
# Display the first 5 rows
tesla_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-03-29 00:00:00-04:00,193.130005,195.289993,189.440002,193.880005,123660000,0.0,0.0
2023-03-30 00:00:00-04:00,195.580002,197.330002,194.419998,195.279999,110252200,0.0,0.0
2023-03-31 00:00:00-04:00,197.529999,207.789993,197.199997,207.460007,170222100,0.0,0.0
2023-04-03 00:00:00-04:00,199.910004,202.690002,192.199997,194.770004,169545900,0.0,0.0
2023-04-04 00:00:00-04:00,197.320007,198.740005,190.320007,192.580002,126463800,0.0,0.0

In [6]:
# Save the dataframe to a CSV file

tesla_data.to_csv('tesla_data.csv', index=False)

In [7]:
# Reset the index

tesla_data.reset_index(drop=True, inplace=True)

In [81]:
url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'

In [90]:
html_data = requests.get(url).text

In [104]:
tesla_data.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
247,166.690002,171.199997,166.300003,170.830002,75454700,0.0,0.0
248,168.759995,175.240005,168.729996,172.630005,74228600,0.0,0.0
249,178.580002,184.250000,177.380005,177.669998,113186200,0.0,0.0
250,181.410004,181.910004,176.000000,179.830002,81804000,0.0,0.0
251,177.449997,179.570007,175.300003,175.789993,77654800,0.0,0.0

In [108]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [118]:
#loop through the rows and columns
gme_revenue = pd.DataFrame(columns=["Date","Revenue"])